
.layout{
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-site);
    color: var(--text-main);
    display: flex;
}
.content{
    background: #f4f6f9;
    flex: 1;
    padding: 30px;
}